# Dependency directories
node_modules/

# dist
packages/*/dist
build

# Optional npm cache directory
.npm

# Mac files
.DS_Store

# misc
lerna-debug.log
.history
package-lock.json
packages/**/yarn.lock
styles.output.css
.turbo
tsconfig.tsbuildinfo