import * as React from 'react'

interface {{pascalCase componentName}}Props {}

function {{pascalCase componentName}}({}: {{pascalCase componentName}}Props) {
  return (
    <div>

    </div>
  )
}

export { {{pascalCase componentName}} }